body {
  color: white;
  background-image: url("./assets/backgroundSplash.jpg");
}

#background {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}

.App {
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: black;
  min-height: 10vh;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#loginForm {
  display: flex;
}

#submit {
  height: 25px;
  margin-top: 15px;
}

#login {
  display: flex;
  width: 50vw;
  height: 10vh;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
}

.loginGroup {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
}

.loginForm {
  border-radius: 5;
  padding: 5px;
  padding-right: 7vw;
  width: 10vh;
}